<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="config" class="com.baidu.testframework.config.MethodConfig">
        <property name="serviceName">
            <value>com.baidu.testframework.example.ComplexHello</value>
        </property>
        <property name="methods">
            <map>
                <entry key="sayHello" value-ref="sayHello"/>
            </map>
        </property>
    </bean>

    <util:list id="sayHello">
        <value>world</value>
        <value>3</value>
        <value>{name:edwardsbean,age:23,MAN,job:{name:码农}}</value>
    </util:list>

</beans>